# OS files
**/.DS_Store
**/Thumbs.db
.DS_Store

# Node.js
node_modules/
npm-debug.log*

# Cordova/Capacitor
platforms/
plugins/
www/
derived_data/
*.keystore
!/project.properties
*.apk
*.ipa

# Security & Env
.env