<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="emi-indo-cordova-plugin-admob" version="2.0.8-beta.1">

  <name>emiAdmobPlugin</name>
  <description>Cordova/Quasar/Capacitor Plugin Admob Android IOS</description>
  <author>EMI INDO</author>
  <license>ISC</license>

  <js-module src="www/emiAdmobPlugin.js" name="emiAdmobPlugin">
    <clobbers target="cordova.plugins.emiAdmobPlugin" />
  </js-module>

  <engines>
    <engine name="cordova"
      version=">=10.0.0" />
    <engine name="cordova-android"
      version=">=11.0.0" />
    <engine name="cordova-ios"
      version=">=5.0.0" />
  </engines>


  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="emiAdmobPlugin">
        <param name="android-package" value="emi.indo.cordova.plugin.admob.emiAdmobPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file parent="/*" target="config.xml">
      <preference name="AndroidXEnabled" value="true" />
      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinVersion" value="2.1.0" />
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:launchMode="singleTask"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:excludeFromRecents="true" android:name="com.google.android.gms.ads.AdActivity"
        android:noHistory="true" />
      <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="$APP_ID_ANDROID" />
      <meta-data android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
        android:value="true" />
      <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
        android:value="true" />
      <meta-data
        android:name="com.google.android.gms.ads.INTEGRATION_MANAGER"
            android:value="webview"/>
    </config-file>

    <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->

    <preference name="APP_ID_ANDROID" default="ca-app-pub-3940256099942544~3347511713" />
    <preference name="PLAY_SERVICES_VERSION" default="24.1.0" />

    <framework src="com.google.android.gms:play-services-ads:$PLAY_SERVICES_VERSION" />

    <preference name="UMP" default="3.2.0" />
    <framework src="com.google.android.ump:user-messaging-platform:$UMP" />

    <!-- Dependency Consent status will automatically reset after 12 months -->
    <preference name="ANDROID_X" default="1.2.0" />
    <framework src="androidx.preference:preference:$ANDROID_X" />

    <preference name="MULTI_WINDOW" default="false" />

    <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
            <activity android:resizeableActivity="$MULTI_WINDOW" />
    </edit-config>



    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/emiAdmobPlugin.kt" target-dir="app/src/main/kotlin/emi/indo/cordova/plugin/admob" />

  </platform>


  <platform name="ios">
    <!--minimum macOS 14.4 > Xcode 15.3 -->
    <config-file target="config.xml" parent="/*">
      <feature name="emiAdmobPlugin">
        <param name="ios-package" value="emiAdmobPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file parent="/*" target="config.xml">
    <!--minimum deployment-target: 12.2  -->
		<preference name="deployment-target" value="13.0" />
		<preference name="SwiftVersion" value="5.10" />
	</config-file>

    <preference name="USAGE"
      default="This identifier will be used to deliver personalized ads to you." />

    <preference name="APP_ID_IOS" default="ca-app-pub-3940256099942544~1458002511" />

    <config-file target="*-Info.plist" parent="GADApplicationIdentifier">
      <string>$APP_ID_IOS</string>
    </config-file>

    <config-file target="*-Info.plist" parent="NSUserTrackingUsageDescription">
      <string>$USAGE</string>
    </config-file>

    <config-file target="*-Info.plist" parent="GADDelayAppMeasurementInit">
      <true />
    </config-file>

    <config-file target="*-Info.plist" parent="SKAdNetworkItems">
      <array>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>cstr6suwn9.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>4fzdc2evr5.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>2fnua5tdw4.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>ydx93a7ass.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>p78axxw29g.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>v72qych5uu.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>ludvb6z3bs.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>cp8zw746q7.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>3sh42y64q3.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>c6k4g5qg8m.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>s39g8k73mm.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>3qy4746246.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>hs6bdukanm.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>mlmmfzh3r3.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>v4nxqhlyqp.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>wzmmz9fp6w.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>su67r6k2v3.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>yclnxrl5pm.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>7ug5zh24hu.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>gta9lk7p23.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>vutu7akeur.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>y5ghdn5j9k.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>v9wttpbfk9.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>n38lu8286q.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>47vhws6wlr.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>kbd757ywx3.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>9t245vhmpl.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>a2p9lx4jpn.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>22mmun2rn5.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>4468km3ulz.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>2u9pt9hc89.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>8s468mfl3y.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>ppxm28t8ap.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>uw77j35x4d.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>pwa73g5rt2.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>578prtvx9j.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>4dzt52r2t5.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>tl55sbb4fm.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>e5fvkxwrpn.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>8c4e2ghe7u.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>3rd42ekr43.skadnetwork</string>
        </dict>
        <dict>
          <key>SKAdNetworkIdentifier</key>
          <string>3qcr597p9d.skadnetwork</string>
        </dict>
      </array>
    </config-file>

    <header-file src="src/ios/emiAdmobPlugin.h" />
    <source-file src="src/ios/emiAdmobPlugin.m" />

    <framework src="AdSupport.framework" weak="true" />
    <framework src="AppTrackingTransparency.framework" weak="true" />

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/" />
      </config>
      <pods use-frameworks="true">
		<!--minimum macOS 14.4 > Xcode 16.0 -->
		 <pod name="GoogleUserMessagingPlatform" spec="~> 3.0.0" />
     <pod name="Google-Mobile-Ads-SDK" spec="~> 12.2.0" />
		
      </pods>
    </podspec>

  </platform>
</plugin>